#btnShowModal {
    visibility: hidden;
}

.container > h2 {
    text-align: center;
}

.container > h3 {
    margin-bottom: 0;
    text-align: end;
}

#manIn {
    display: flex;
    margin: 0 auto;
    width: 75px;
    overflow: hidden;
}

#man {
    position: relative;
    left: 0px;
    padding-top: 30px;
    margin-left: 0px;
    transition: left .3s;
    visibility: hidden;
}

.letras {
    font-size: 50px;
}

#divLetras > span {
    margin-right: 2rem;
}

#divLetras > span:last-child {
    margin-right: 0;
}

#divBotones {
    gap: 5px
}

div.separator {
    width: 100%;
}

#divBotones button {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
}

.modal-body > p {
    margin-bottom: 0.5em;
}

.modal-body > p:last-child {
    margin-bottom: 0;
}

.blink {
    color: red;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .container > h2 {
        padding-top: 10px;
    }    

    .letras {
        font-size: 25px;
    }

    div.separator {
        width: 0;
        margin: 0 -2.5px;
    }

    #divBotones button {
        margin-right: 0;
    }
}